---
title: Synopsys Seeker IAST Service Broker for PCF
owner: Partners
---

<strong><%= modified_date %></strong>

<p class="note warning">
<strong>WARNING! </strong>
The PRODUCT-NAME for PCF tile is currently in beta and is intended for evaluation and test purposes only. 
Do not use this product in a PCF production environment.
</p>

This documentation describes the Synopsys Seeker IAST Service Broker for Pivotal Cloud Foundry (PCF). The Synopsys Seeker IAST Service 
Broker for PCF enables developers to add interactive application security testing (IAST) in PCF deployments. Synopsys Seeker gives 
unparalleled visibility into your web app security posture and identifies vulnerability trends against compliance standards, 
e.g., OWASP Top 10, PCI DSS, and CWE/SANS.

## <a id='overview'></a>Overview

The Synopsys Seeker IAST Service Broker for PCF registers a service broker with PCF and exposes its service plans on the 
Marketplace. Developers can then create service plan instances using Apps Manager or the Cloud Foundry Command 
Line Interface (cf CLI) and bind them to their apps.

Creating a Synopsys Seeker service instance and binding it to an app allows the Seeker agent to be
deployed with your PCF app during deployment.  The Seeker agent uses instrumentation techniques and runtime 
analysis to continuously monitor, identify, and verify security vulnerabilities in web applications. 

Typically, Seeker analysis is executed during the test or QA stage of the software development life cycle.

## <a id='features'></a>Key Features


Using the Synopsys Seeker IAST Service Broker for PCF, you can:

* Import the Synopsys Seeker IAST Service Broker into your Marketplace.
* Provide the Seeker Service for any PCF app.
* Bind the Seeker agent to any app running on PCF.
* Automate the Seeker agent injection during deployment.
* Provide IAST capabilities in your PFC environment, which accurately identifies and verifies vulnerabilities.



## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about PRODUCT-NAME.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.0.50</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>January 31, 2019</td>
    </tr>
    <tr>
        <td>Seeker</td>
        <td>2018.09+</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>2.1, 2.2, 2.3, 2.4</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>2.1, 2.2, 2.3, 2.4</td>
    </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>170.14</td>
    </tr>

</table>


## <a id="reqs"></a>Requirements


Synopsys Seeker IAST Service Broker for PCF has the following requirements:

+ A licensed version of Synopsys Seeker.
[Contact our software security expert to request a license.](https://www.synopsys.com/software-integrity/contact-sales.html) 


## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please email
[Pivotal Cloud Foundry Feedback](mailto:cf-feedback@pivotal.io) list or contact 
[Synopsys Support](https://www.synopsys.com/support.html).

## <a id='license'></a>License

The Synopsys Seeker IAST Service Broker is Licensed under the Synopsys End User Software License and Maintenance Agreement
Version 2019.1.