---
title: Release Notes for the Synopsys Seeker IAST Service Broker for Pivotal Platform
owner: Partners
---

<strong><%= modified_date %></strong>
##<a id="ver"></a> v1.3.2

**Release Date:** December 23, 2019

* Simplified the tile configuration. Now only one port is required to configure the Seeker server.


<strong><%= modified_date %></strong>
##<a id="ver"></a> v1.2.14

**Release Date:** July 09, 2019

* Removed embedded buildpacks from tile.
* Rebuilt the tile using Tile Generator v13.2.0 , which fix known CVEs.


##<a id="ver"></a> v1.0.50

**Release Date:** January 31, 2019

Initial Release. Features included in this release:

* Integration between Pivotal Platform apps and Synopsys Seeker by automatically 
adding the required configuration to connect Seeker Agents to deployed apps in Pivotal Platform.

