---
title: Release Notes for the Synopsys Seeker IAST Service Broker for PCF
owner: Partners
---

<strong><%= modified_date %></strong>

##<a id="ver"></a> v1.0.50

**Release Date:** January 31, 2019

Initial Release. Features included in this release:

* Integration between PCF apps and Synopsys Seeker by automatically 
adding the required configuration to connect Seeker Agents to deployed apps in PCF.

